@using Microsoft.AspNetCore.Identity
@using WebApp.Areas.Identity.Data
@using WebApp.Data

@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var user = UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result;
        if (UserManager.IsInRoleAsync(user, "Default").Result)
        {

            <li class="nav-item">
                <a id="manage" class="nav-link text-dark btn btn--primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span style="padding:unset;" class="material-symbols-outlined icon">person </span>@user.FirstName</a>
            </li>
            <li>&nbsp;</li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link btn-danger">Logout</button>
                </form>
            </li>
        }

        else
        {
            <li class="nav-item">
                <a id="" class="nav-link text-dark btn btn--primary" asp-area="" asp-page="" title="Manage"><span style="padding:unset" class="material-symbols-outlined">person </span>  @UserManager.GetUserName(User)</a>
            </li><li>
                &nbsp;
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link text-dark btn btn-danger">Logout</button>
                </form>
            </li>
        }

}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark btn btn--primary" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark btn btn--secondary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>