@model WebApp.Models.DoctorMaintenanceModel

@{
    ViewData["Title"] = "Add Doctor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label">Email Address</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuiteId" class="control-label">Suite</label>
                <select asp-for="SuiteId" class ="form-control" asp-items="ViewBag.SuiteId">
                    <option value="">Select Suite</option>
                </select>
            </div>
            @{
                if(ViewBag.Count == 0)
                {   
                    <span>
                    <label class="text-danger">Please create a suite before a doctor can be added to the system</label>
                    <a asp-controller="Suites" asp-action="AddForDoc" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary" >Add Suite</a></span>

                }
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
