@{
    ViewData["Title"] = "Home Page";
}

<div class="col-lg-12 landing-section">
    <div class="landing col-lg-10">
        <div class="landing-container">
            <div class="col-lg-6"><img class="img-fluid landing-image" src="assets/images/landing-photo.jpg" /></div>
            <!--add logic for this buttom to redirect to login/register if they are not logged in-->
            <div class="col-lg-6"><h1 class="landing-heading">Lorem ipsum lorem psum lorem ipsum</h1><p class="landing-copy">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p><a class="btn btn--primary">Book appointment</a></div>
        </div>
    </div>
</div>

