@{
    ViewData["Title"] = "Home Page";
}
<h3>Book your doctor appointments online, at your convenience. </h3>
<p>Dr Booking appointment management system allows you to book appointments with our medical specialists at MediClinic. </p>
<div class="col-lg-12 landing-section">
    <div class="landing col-lg-4">
        <div class="landing-container">
            <div class="col-md-6"><div class="image landing-image"></div></div>
            <!--add logic for this buttom to redirect to login/register if they are not logged in-->
            <div class="col-md-6"><h1 class="landing-heading">Clinic Visit</h1>
                <p class="landing-copy">Schedule an appointment for your next doctor's visit.<br /><br /><br /><br /><br /><br /><br /></p>
                <a class="btn btn--primary" asp-controller="Appointments" asp-action="ClinicVisit">Book</a></div>
        </div>
    </div>
   
     <div class="landing col-lg-4">
        <div class="landing-container">
            <div class="col-md-6"><div class="image landing-image--two"></div></div>
            <!--add logic for this buttom to redirect to login/register if they are not logged in-->
            <div class="col-md-6"><h1 class="landing-heading">Online Consultation</h1>
                <p class="landing-copy">Have the doctor come see you at the comfort of your home, at the time that is most convenient for you<br /><br /><br /></p>
                <a class="btn btn--primary" asp-controller="Appointments" asp-action="OnlineConsultation">Book</a></div>
        </div>
    </div>

     <div class="landing col-lg-4">  
        <div class="landing-container">
            <div class="col-md-6"><div class="image landing-image--three"></div></div>
            <!--add logic for this buttom to redirect to login/register if they are not logged in-->
            <div class="col-md-6"><h1 class="landing-heading">Home Call</h1><p class="landing-copy">
                Consult the doctor regardless of your location. All you need is an internet enabled device.<br /><br /><br /><br /><br />
            </p><a class="btn btn--primary">Book</a></div>
        </div>
    </div>
</div>
