@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApp.Models.MyBookingModel
@{
    ViewData["Title"] = "Find My Appointment";
}




<div class="login">
    <div class="col-md-4">
        <form asp-action="CheckBooking" id="resendEmail">
            
          <h2 class="heading">Check Booking</h2>
            <div class="form-floating">
                <input asp-for="Reference" type="text" class="form-control login-input" />
                <label asp-for="Reference" class="form-label"></label>
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="PIN" type="text" class="form-control login-input" />
                <label asp-for="PIN" class="form-label"></label>
                <span asp-validation-for="PIN" class="text-danger"></span>
            </div>

            <input type="submit" name="Submit" class="w-100 btn btn--primary rounded-pill" />

        </form>
    </div>

</div>