@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Appointment>

    <h3>@ViewBag.None</h3>
<table class="">
    @{
        foreach(var app in Model)
        {
            <tr>
                <td>@app.Date.ToLongDateString() &emsp; @app.Time</td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>

                </td>
            </tr>
    
            <tr>
                <td>

                </td>
                <td>

                </td>
            </tr>
        }
    }
    
</table>
