@model WebApp.Models.Appointment

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1>Update</h1>

<h4>Appointment</h4>
<hr />
@{
            if (Model.Approved)
            {
                <h4 class="text-success">Confirmed</h4>
            }

            else
            {
                <h4 class="text-danger">Not Confirmed</h4>
            }
        }
        <br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellNo" class="control-label"></label>
                <input asp-for="CellNo" class="form-control" />
                <span asp-validation-for="CellNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlternateCell" class="control-label"></label>
                <input asp-for="AlternateCell" class="form-control" />
                <span asp-validation-for="AlternateCell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" id="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                 <select asp-for="Time" id="Time" class="form-control">
                            <option selected disabled value="@Model.Time">@Model.Time</option>
                        </select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="display:none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Approved" /> @Html.DisplayNameFor(model => model.Approved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                &nbsp;|&nbsp;
                <a asp-action="Confirm" asp-route-id="@Model.Id">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script type="text/javascript">
                $('#Date').datepicker({
                    dateFormat: 'mm/dd/yy',
                    onSelect: function(date) {
                        var selectedDate = new Date(date).toJSON();

                        let dropdown = $("#Time");
                        dropdown.empty();

                        dropdown.append("<option selected disabled>Choose Time</option>");
                        dropdown.prop('selectedIndex', 0);

                        $.ajax({
                            type: "GET",
                            url: "/Appointments/GetDateTimes",
                            data:{ "fDate": date},
                            contentType: "application/json",
                            dataType: "json",
                            success: function(response) {
                                alert("MVC Function Executed");
                                $.each(response, function(key, time) {
                                    dropdown.append($("<option></option>").attr("value", time).text(time))
                                })
                            },
                            failure: function(response) {
                                alert("Execution Failed");
                            },
                            error: function(response) {
                                alert(response.responseText);
                            }
                        });
                    }
                });

    </script>
}
