html {
    font-size: 14px;
}

.custom-nav {
    background-color: green;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.menu-logo {
    color: #000000 !important;
    font-weight: 700;
    font-size: calc(32*0.063rem);
}